.title {
    font-size: 30px;
    float: left;
    left: 30px;
    top: 50px;
    position: relative
}

.makeNew {
    float: right;
    right: 30px;
    top: 50px;
    position: relative;
    
    text-align: center;
    
    border: 1px solid gray;
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
}

.box {
    top:150px;
    position: relative;
    
    align-self: center;
    
    border: 1px solid gray;
    padding: 10px 30px 10px 30px;
    border-radius: 5px;
}
.boxTitle {
    position: relative;
}